@import "./vars";

#about-me{
    color: $white-color;
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }

    .contact-wrapper{
        div{
            padding-top: 15px;
            a{
                color:$white-color;

                &.btn{
                    color: $black-color;
                }
            }
        }
    }
}