@import "./sections/projects";
@import "./sections/menu-section";
@import "./sections/me-section";

#tech-stack{
    .items{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 15px;

        .item{
            background-color: #FFFFFF;
            border-radius: 6px;
            text-align: center;
            padding: 5px 0;

            div{
                
                img{
                    width: 100%;
                    height: 50px;
                    object-fit: contain;
                }
            }

            div{
                p{
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (min-width: 300px)  and (max-width: 600px) {
    #tech-stack{
        .items{
            grid-template-columns: repeat(2, 1fr);
            height: 85%;
            overflow-y: scroll;
        }
    }
}

@media only screen and (min-width: 601px)  and (max-width: 950px) {
    #tech-stack{
        .items{
            grid-template-columns: repeat(4, 1fr);
            height: 85%;
            overflow-y: scroll;

            img{
                height: 40px;
            }
        }
    }
}