@import "./buttons";
@import "./vars";

// html {
//     --s: 100px; /* control the size */
//     --c1: #F8B195;
//     --c2: #355C7D;
    
//     --_g: 
//        var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
//        var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
//     background:
//       radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
//       radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
//       var(--c1);
//     background-size: var(--s) var(--s);
// }
// html {
//     --s: 100px; /* control the size */
//     --c1: #0066b2;
//     --c2: #FFFFFF;
//     --c3: #00308F;
    
//     --_g: 
//        var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
//        var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
//     background:
//       radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
//       radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
//       var(--c1);
//     background-size: var(--s) var(--s);
// }

html {
    --s: 84px; /* control the size*/
    --c1: #f2f2f2;
    --c2: #cdcbcc;
    --c3: #999999;
    
    --_g: 0 120deg,#0000 0;
    background:
      conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
      conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
      conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
      conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
      conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
      conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*1.732) var(--s);
    /* sqrt(3) = 1.732 */
  }
  

body{
    margin: 0;
    padding: 0;     
}

h1,h2,h3,h4,h5,h6,p,span,a,ul{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 26px;
    font-weight: 900;
}

h2{
    font-size: 24px;
    font-weight: 600;
}

p, span, a{
    font-size: 16px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    margin: 0;
    padding-left: 20px;
}

.gradient{
    &.gradient--project{
        // background: #00308F;
        background: #13274F;
        // background: -moz-linear-gradient(112deg, rgba(3,3,3,1) 0%, rgba(37,55,116,1) 49%, rgba(33,20,140,1) 100%);
        // background: -webkit-linear-gradient(112deg, rgba(3,3,3,1) 0%, rgba(37,55,116,1) 49%, rgba(33,20,140,1) 100%);
        // background: linear-gradient(112deg, rgba(3,3,3,1) 0%, rgba(37,55,116,1) 49%, rgba(33,20,140,1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030303",endColorstr="#21148c",GradientType=1);
        
    }
}

.site-container{
    width: 80%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    
    & > .inner{
        width: 100%;
        height: 100%;
        
        .section-heading{
            padding-bottom: 30px;
        }
    }
}

.card{
    border-radius: 6px;
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s;

    &:hover{
        box-shadow: 0 0 10px -1px #FFFFFF;
    }

    &.card--bg-color-1{
        // background-image: linear-gradient( 135deg, #00308F 10%, #0066b2 100%);
        background-color: #00308F;
    }

    .card-heading, .card-body{
        padding: 10px;
        color: #FFFFFF;
    }

    .card-heading.card-heading--group{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-body{
        padding-top: 0;

        .card-section{
            margin-top: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            & > div:nth-child(1){
                width: 60%;
            }

            & > div:nth-child(1) p i, & > div:nth-child(2) a{
                font-size: 12px;
                font-weight: 600;
            }

            & > .card-section--item-full-width{
                width: 100%!important;
            }
        }
    }

}



.text{
    &.text-white{
        color: #FFFFFF;
    }
}

.text-right{
    text-align: right;
}


@media only screen and (min-width: 300px)  and (max-width: 600px) {

    .hidden-sm{
        display: none;
    }

    .site-container{
        width: 95%;
        height: 95%;
        border-radius: 30px;
        
        & > .inner{
            width: 100%;
            height: 100%;
            
            .section-heading{
                padding-bottom: 10px;
            }
        }
    }
}

@media only screen and (min-width: 600px)  and (max-width: 950px) {
    .hidden-on-tabs{
        display: none;
    }
}

@media only screen and (min-width: 1000px)  {
    .hidden-on-desktop{
        display: none!important;
    }
}