.btn {
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 4px;
}
.btn.btn-pill {
  font-size: 14px;
}
.btn.btn-hireme {
  font-size: 20px;
  font-weight: 600;
  padding: 3px 15px;
}

.rounded-button, .floating-button {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  background-color: #FFFFFF;
  padding: 8px 15px;
  border-radius: 20px;
  display: inline-block;
  min-width: 70px;
  text-align: center;
  box-shadow: 1px 1px 1px #000000;
}

.floating-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

html {
  --s: 84px; /* control the size*/
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;
  --_g: 0 120deg,#0000 0;
  background: conic-gradient(from 0deg at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);
  /* sqrt(3) = 1.732 */
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, a, ul {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

p, span, a {
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.gradient.gradient--project {
  background: #13274F;
}

.site-container {
  width: 80%;
  height: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.site-container > .inner {
  width: 100%;
  height: 100%;
}
.site-container > .inner .section-heading {
  padding-bottom: 10px;
}

.card {
  border-radius: 6px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 0 10px -1px #FFFFFF;
}
.card.card--bg-color-1 {
  background-color: #00308F;
}
.card .card-heading, .card .card-body {
  padding: 10px;
  color: #FFFFFF;
}
.card .card-heading.card-heading--group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-body {
  padding-top: 0;
}
.card .card-body .card-section {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card .card-body .card-section > div:nth-child(1) {
  width: 60%;
}
.card .card-body .card-section > div:nth-child(1) p i, .card .card-body .card-section > div:nth-child(2) a {
  font-size: 12px;
  font-weight: 600;
}
.card .card-body .card-section > .card-section--item-full-width {
  width: 100% !important;
}

.text.text-white {
  color: #FFFFFF;
}

.text-right {
  text-align: right;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .hidden-sm {
    display: none;
  }
  .site-container {
    width: 95%;
    height: 95%;
    border-radius: 30px;
  }
  .site-container > .inner {
    width: 100%;
    height: 100%;
  }
  .site-container > .inner .section-heading {
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 950px) {
  .hidden-on-tabs {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .hidden-on-desktop {
    display: none !important;
  }
}/*# sourceMappingURL=styles.css.map */